<!DOCTYPE html>
<html>
  <head>
    <title>Hash Methods </title>
  </head>
  <body>
    <h1>Welcome to Hash Alive!</h1>

    <p>
    <a id="delete-method" href="/hash/delete/:key">Delete Method</a>
    </p>

  </body>
</html>
